<p id="notice"><%= notice %></p>

<div class="mt-2 px-3 flex">
  <% @columns.each do |column| %>
    <div class="bg-teal-100 mx-2 w-64 rounded">
      <div class="px-3 py-2 font-thin"><%= column.name %></div>
    </div>
  <% end %>
</div>


<br>

<%#= link_to 'New Column', new_column_path %>
