<p id="notice"><%= notice %></p>

<div id="column" class="mt-2 px-3 flex" data-kanbanid="<%= @kanban.id%>" >
  <Column v-for="column in columns" :column="column" :key="column.id"></Column>  
</div>

<br>

<%#= link_to 'New Column', new_column_path %>
