<p id="notice"><%= notice %></p>
<div class="kanban-title"><%= @kanban.name%></div>
<hr class="mb-3">
<div class="kanban-title"><em>Mapping our work allows us to navigate our life.( 將工作視覺化在看板上，使我們能夠駕馭生活 ) - Jim Banson</em></div>
<div id="column" class="mt-2 px-3" data-kanbanid="<%= @kanban.id%>" >
  <!-- 綁定v-model: 拖完之後，資料也跟著改變位置 -->  
  <draggable v-model="columns" class="flex" @change="dragColumn">
    <Column v-for="column in columns" :column="column" :key="column.id"></Column>  
  </draggable>
</div>

<br>

<%#= link_to 'New Column', new_column_path %>
