<div id="content">
  <div class="main-title">Vue.js x Rails第12屆鐵人賽專案：{{ day }}</div>
  <div class="main-body">本日主題：{{ topic }}</div>

  <News v-on:news="rootMethod"></News>    
  <Foot></Foot>
</div>


